.top-line-header{
    border-top: 0.250em solid #261C52;
}

.contact-wrapper{ /*The */
    width: 90%; 
    margin: 0 auto;
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-title{ /*styling h2*/
    padding: 0.5%;
    margin: 0 auto;
    border-bottom: 0.2rem solid #FFD33A;
    color: #261C52;
    font-weight: 300;
    font-size: 2.2em
}

.contact-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    /*height: 90%;*/
}
.contact-sections{
    border-radius: 1em;
    margin-bottom: 15px;
    height: 550px;
}
.contact-sections:nth-child(2){
    width: 49%;
   /* background-color: bisque;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-sections:nth-child(1){
    border: 0.313em  #F8E7C0 solid;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    
}

.contact-form{
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    text-align: center;
}

.form-wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
   /* height: 100%;*/
}

.form-logo{
    width: 20%;
    display: block;
    margin: 10px auto 10px auto;
}

/*styling form*/
.contact-fields{
    margin-bottom: 10px;
}
.contact-form input, #course, .contact-form option, #user-message{
    background-color: #F8E7C0;
    width: 90%;
    border: none;
    border-radius: 0.5em;
    padding: 0.250em 0.5em;
    color: #261C52;
}
.contact-form input, #course{
    height: 35px;
}


#user-message{
    height: 200px;
    padding-top: 1.250em;
    scroll-padding-right: 0.5em;
    align-self: center;
}

#form-button{
    border: none;
    border-radius: 0.5em;
    background-color: #FFD33A;
    padding: 10px 20px;
    font-size: 16px;
    width: 20%;
    align-self: center;
}

.form-filed-condition{
    text-align: end;
    font-size: 12px;
}

.staff-img{
    width: 100%;
    align-self: center;
    height: auto;
    /*border-radius: 20px*/
}   
.staff-info{
    align-self: center;
    width: 30%;
}

