hr {
    border-top: 0.3em solid #261C52;
}

/* Changes to Leonors CSS */


.index-h2 .cspage-courses-section{
    text-decoration: none;
    font-size: 125%;
    font-weight: 300;
    color:#261C52;
    padding: 2%;
   }

.separator-div-supersmall{
    height:30px;
}

/* --End of Courses Carousel section --*/

/* individal course section */

.cspage-course-titel{
    display: flex;
    justify-content: center;
    padding: 0em 13em; 
}

.cspage-h2-container{
    border-bottom: 0.2rem solid #FFD33A;
    height: min-content;
}


.cspage-description {
    width: 90%; 
    font-size: 1.7em;
    padding-left: 3em; 
    line-height: 130%;

}


/* section with course description */
.container-pics {
    flex-wrap: wrap;
}

/* course-side */
/* Webdesign */
.course-part{
    position: relative; 
    width: 100%; 
    height: 700px; 
}

.webdesign-background-sqare {
    position: absolute; 
    border: 4px solid #261C52;
    border-left-style: none;
    top: 30%; 
    left: 30%; 
    height: 50%; 
    width: 40%; 
}

.course-pics{
    width: 100%; 
    overflow: hidden; 
    border-radius: 20px; 
    border: 4px solid #261C52;  
    border-radius: 20px; 
}

.webdesign-first-pic {
    position: absolute; 
    padding: 0;  
    width: 31%;
    left: 20%;
}

.webdesign-text-box{
    position: absolute; 
    padding: 1em; 
    font-size: 1.25em;
    width: 18%; 
    border: 4px solid #261C52; 
    border-radius: 20px;
    background-color: white; 
    top: 50%; 
    left: 60%; 
}

.webdesign-second-pic{
    position: absolute;
    padding: 0; 
    width: 15%;    
    top: 65%; 
    left: 30%;
}

/* Buttons beneath Courses */


.subtitle-textbox{
    background-color:#eef091; 
    font-size: 1.5em;
    padding: 1em; 
    margin: auto;
    text-align: center;
    width: 50%; 
    border-radius: 20px;
}

.course-buttons{
    width: 50%; 
    margin: auto; 
    display: flex;
    justify-content: space-around;

}


.apply-button-div :hover, .syllabus-button-div :hover{
    color :#F3F1E9;
    background-color:#261C52 ;
    text-decoration: none;
}

.apply-course-button{
    padding: 10%;
    border-radius: 20px;
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    border-style: none;
    background-color: #ffd33a ;
    text-decoration: none; 
}

.syllabus-course-button{
    padding: 10%;
    border-radius: 20px;
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    border-style: none; 
    background-color: #F3F1E9 ;
    color: #261C52; 
    text-decoration: none;
    border: 4px solid #261C52; 
    border-radius: 20px;
}

/* course-side */
/* Developer */

.dev-background-sqare {
    position: absolute; 
    border: 4px solid #261C52;
    border-right-style: none;
    top: 30%; 
    left: 30%; 
    height: 50%; 
    width: 40%; 
}

.dev-pics{
    width: 100%; 
    overflow: hidden; 
    border-radius: 20px; 
    border: 4px solid #261C52;  
    border-radius: 20px; 
}

.dev-first-pic {
    position: absolute; 
    padding: 0;  
    width: 10%;
    left: 65%;
}

.dev-text-box{
    position: absolute; 
    padding: 1em; 
    font-size: 1.25em;
    width: 20%; 
    border: 4px solid #261C52; 
    border-radius: 20px;
    background-color: white; 
    top: 40%; 
    left: 20%; 
}

.dev-second-pic{
    position: absolute;
    padding: 0; 
    width: 20%;     
    top: 55%; 
    left: 50%;
}