/* -- General CSS--*/

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    /*This part shoud be on body. Otherwhise, we cannot 
    change the background-color (it would be overwritten) of different container for example(I had problems with the divs of footer)*/
    /*font-family: ‘Montserrat’, sans-serif;
    color: #261C52;
    background-color: #F4F0EA;*/
    text-decoration: none;
    
}

body{
    font-family: ‘Montserrat’, sans-serif;
    text-decoration: none;
    color: #261C52;
    background-color: #F4F0EA; 
    }

/* -- End of General CSS--*/

/* -- Banner section --*/

.banner{
    position: relative;
    height: 20%;
}

.banner-img{
    width: 100%;
    position: relative;
}

.title-text-container{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #F4F0EA;
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%,-50%);
    width : 47%;
    height : 50%;
    border-radius: 20px;
    margin:auto;
}

.banner-logo{
    text-align: center;
    height: 45%;
}

.banner-slogan{
    padding-top: 4%;
    font-size: 2em;
    font-weight: 200;
    text-align: center;
}

/* --End of Banner section --*/

/* Apply Button --*/

.button-div :hover{
    color :#F3F1E9;
    background-color:#261C52 ;
    text-decoration: none;
}

.apply-index-button{
    padding: 1%;
    border-radius: 20px;
    font-size: 1.5em;
    font-weight: 200;
    text-align: center;
    border-style: none;
    position: absolute;
    margin-top : -2%;
    margin-left : 5%;
    overflow: visible;
    background-color: #ffd33a ;
    text-decoration: none;
}

/* End of Apply Button --*/


/* --Courses Carousel section --*/

.separator-div{
    height:150px;
}

.index-h2-container{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 0.2rem solid #FFD33A;
    padding-bottom: 1%;
    white-space: nowrap;
    width : min-content;
}

.index-h2 {
    font-size: 2.2em;
    font-weight: 300;
    color:#261C52;
    text-decoration: none;
}

.separator-div-small{
    height:70px;
}

.box-container{
    display: flex;
    justify-content: space-evenly;
}

.specific-course-title{
    text-decoration: none;
    color:#261C52;
}

.courses-box{
    width : 25%;
    text-align: center;
    justify-content: center;
}

.courses-box-img{
    width : 100%;
    border-radius: 20px;
}

.courses-box-title{
    padding: 5%;
    font-size: 1.5em;
    font-weight: 380;
}

.courses-box-p{
    padding: 5%;
    font-size: 1.3em;
    font-weight: 380;
}

/* --End of Courses Carousel section --*/