/* -- General CSS--*/

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    /*This part shoud be on body. Otherwhise, we cannot 
    change the background-color (it would be overwritten) of different container for example(I had problems with the divs of footer)*/
    /*font-family: ‘Montserrat’, sans-serif;
    color: #261C52;
    background-color: #F4F0EA;*/
}

body{
    font-family: ‘Montserrat’, sans-serif;
    text-decoration: none;
    color: #261C52;
    background-color: #F4F0EA; 
    }

a{
    text-decoration: none;
    color: #261C52;
}
/* -- End of General CSS--*/


/* --Students Title --*/

hr{
    border: 2px solid #261C52;
}

.separator-div{
    height:150px;
}

.separator-div-small{
    height:85px;
}

.separator-div-extrasmall{
    height:10px;
}

.separator-div-students{
    height: 40px;
}

.student-h2-container{
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 0.2rem solid #FFD33A;
    padding-bottom: 1%;
    white-space: nowrap;
    width : min-content;
}

.students {
    justify-content: center;
    text-align: center;
    display: inline-block;
    font-size: 2.2em;
    font-weight: 300;
    color:#261C52;
    text-decoration: none;
   }

/* --End of Students Title --*/


/* --Students main section --*/

.box-container{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.students-box{
    width : 100%;
    justify-content: center;
    display: flex;
    position: relative;
    margin-left: -15%;
}

.student-portrait{
    width : 35%;
    margin-right: auto;
    margin-left: 0;
    overflow : visible;
    position: relative;
    left: 15%;
    z-index: 1;
}

.students-box-img{
    width : 100%;
    border-radius: 200%;
    border : solid #F4F0EA 30px;
}

.student-text{
    width : 65%;
    height : 100%;
    justify-content: center;
    display: flex;
    flex-direction : column;
    background-color: #F4F0EA;
    position: relative;
    z-index: -1;
}

.student-testimonial{
    background-color: #F8E7C0;
    padding : 3%;
    padding-left : 25%;
    font-size: 1em;
    font-weight: 80;
    text-align: center;
    justify-content: center;
}

.student-link{
    background-color: #F8E7C0;
    padding : 3%;
    padding-left : 30%;
    font-size: 1em;
    font-weight: 80;
    text-align: center;
    justify-content: center;
}

.box-container-Dane{
    display: flex;
    justify-content: space-evenly;
    width : 70%;
    margin-left: auto;
    margin-right: auto;
}

.students-box-Dane{
    width : 100%;
    justify-content: center;
    display: flex;
    position: relative;
    margin-right: -15%;
}

.student-text-Dane{
    width : 65%;
    height : 100%;
    justify-content: center;
    display: flex;
    flex-direction : column;
    background-color: #F4F0EA; 
    position: relative;
    z-index: -1;
}

.student-testimonial-Dane{
    background-color: #F8E7C0;
    padding : 3%;
    padding-right : 30%;
    font-size: 1em;
    font-weight: 80;
    text-align: center;
    justify-content: center;
}

.student-link-Dane{
    background-color: #F8E7C0;
    padding : 3%;
    padding-right : 30%;
    font-size: 1em;
    font-weight: 80;
    text-align: center;
    justify-content: center;
}

.student-portrait-Dane{
    width : 35%;
    margin-left: auto;
    margin-right: 0;
    overflow : visible;
    position: relative;
    right: 15%;
    z-index: 1;
}

.students-box-img-Dane{
    width : 100%;
    border-radius: 200%;
    border : solid #F4F0EA 30px;
}

/* --End of Students main section --*/






